[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
kaggle = "*"
jupyter = "*"
pandas = "*"
dash = "==1.11.0"
plotly = "*"
flask = "*"
scipy = "*"
pytest = "*"

[requires]
python_version = "3.7"
